$transition-duration: 850ms;
$easing-function: cubic-bezier(0.16, 0.88, 0.45, 1);
$default-transform: translate(0, 0);
body.is-menu-open {
  overflow: hidden;
}
#root {
  font-family: "Mulish";
  color: white;
}

a {
  cursor: pointer !important;
}
@mixin fade-out {
  opacity: 0;
  transition: all $transition-duration $easing-function;
}

[data-scroll="out"] {
  @include fade-out;

  &:not([fade-from]) {
    transform: translateY(100px);
  }

  &[fade-from="left"] {
    transform: translateX(-100px);
  }

  &[fade-from="right"] {
    transform: translateX(100px);
  }
}

[data-scroll="in"] {
  transform: $default-transform;
  opacity: 1;
  transition: all $transition-duration $easing-function;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  opacity: 1 !important;
  border-color: rgb(0, 0, 0) !important;
  border-width: 1px !important;
}
.swiper-pagination-bullet {
  padding: 3px;
  opacity: 1 !important;
  border-color: white !important;
  border-width: 1px !important;
}
.animataion-link-left-to-right {
  color: white;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.animataion-link-left-to-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.animataion-link-left-to-right:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
